header.topNavigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: .3em;
}

header.topNavigation img {
    object-fit: contain;
    margin: 1em;
    z-index: 2;
}

header.topNavigation .NavShadow {
    position: absolute;
    top: 60px;
    width: 95%;
    left: 2.5%;
    padding-top: 5%;
}

header.topNavigation .NavShadow:after {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -2.5%;
    background: 
        linear-gradient(#2d334c, white);
    opacity: 0.9;
    overflow: hidden;
}

header.topNavigation .invite {
    display: none;
}

header.topNavigation #collapseMenuButton {
    width: 35px;
    height: 35px;
    color: #34333b;
    margin-top: .5em;
}

#collapseMenuButton #SVGone {
    scale: 1.5;
    transform: 
        translateX(5px)
        translateY(7px);
}

header.topNavigation .open {
    display: block;
}

header.topNavigation .closed {
    display: none;
}

header.topNavigation button {
    margin: 1em 1em 1em 0;
    padding: .9em 2.5em;
    border-radius: 100vw;
    background:
        linear-gradient(to right, #61cb86,#63b4bf);
    border: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

header.topNavigation a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 501px) {
    header.topNavigation .NavShadow {
        width: 80%;
    }
}

@media only screen and (min-width: 1100px) {
    header.topNavigation {
        height: 4.5em;
    }
    
    header.topNavigation .invite {
        display: block;
    }

    header.topNavigation .NavShadow {
        top: 0 !important;
        left: 0 !important;
        padding: 0 !important;
    }

    header.topNavigation .NavShadow:after {
        position: initial;
        opacity: 0;
    }

    header.topNavigation #collapseMenuButton {
        display: none;
    }

    header.topNavigation .closed {
        display: block;
    }
    
    header.topNavigation a:hover {
        color: initial;
    }
}

@media only screen and (min-width: 1100px) {
    header.topNavigation img {
        margin-left: 10%;
    }
    
    header.topNavigation button {
        margin-right: 10%;
        z-index: 2;
    }
}