#latestArticles {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fafafa;
    padding-block: 2em 3.5em;
    margin-inline: 1.5em;
}

.latestArticle {
    max-width: 350px;
}

#latestArticles h2 {
    margin-top: 1.6em;
    margin-bottom: .9em;
}

#latestArticles ul {
    display: flex;
    flex-direction: column;
}

#latestArticles li {
    list-style: none;
}

#latestArticles img {
    max-width: 100%;
}

#latestArticles picture {
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
}

#latestArticles picture img {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

#latestArticles hgroup h3 {
    font-size: 16px;
}

#latestArticles hgroup p {
    font-size: 10px;
}

.latestArticle > div {
    padding-inline: 1.2em;
    text-align: left;
    padding-block: 1.5em 2em;
    background-color: #ffffff;
    margin-block: 0 1.5em;
}

.latestArticle div > p {
    margin-block: .5em;
    font-size: 12px;
}

@media only screen and (min-width: 480px) {
    #latestArticles > div {
        width: 86.25%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 769px) {
    #latestArticles ul {
        flex-direction: row;
        justify-content: center;
        text-align: left;
        flex-wrap: wrap;
    }

    #latestArticles li {
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 1100px) {
    #latestArticles li:last-of-type {
        margin-right: 0;
    }

    #latestArticles li {
        width: 15em;
    }

    #latestArticles li:not(:last-of-type) {
        margin-right: 2rem;
    }
}

@media only screen and (min-width: 790px) {
    #latestArticles h2 {
        text-align: left;
    }
}

@media only screen and (min-width: 1416px) {
    #latestArticles > div {
        width: 100%;
    }
}