.navMenu {
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff;
    border-radius: .3em;
    border: 1px solid #f0f0f0;
    z-index: 1;
    color: #2e2f48;
    font-weight: 600;
    margin: 0 auto;
}

.navMenu ul {
    width: 100%;
    padding: 1em;
}

.navMenu li {
    width: 100%;
    text-align: center;
    list-style: none;
    height: 2.5em;
}

.navMenu li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.navMenu li:hover:after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: 
        hsl(136, 65%, 51%);
}

@media only screen and (min-width: 501px) {
    .navMenu {
        transform: 
            translateX(15%);
    }
}

@media only screen and (min-width: 769px) {
    .navMenu {
        flex-direction: row;
        border: none;
        margin: 0;
        width: 83%;
    }

    .navMenu ul {
        display: flex;
    }
}

@media only screen and (min-width: 1100px) {
    .navMenu ul {
        margin-left: 30%;
    }
}